version: '3.5'
services:
  vmstorage:
    container_name: vmstorage
    image: victoriametrics/vmstorage:v{{ victoria_version }}-cluster
    ports:
      - {{ vmstorage_port }}:8482
      - {{ vmstorage_insert_port }}:8400
      - {{ vmstorage_select_port }}:8401
    volumes:
      - ./{{ vmstorage_data_folder }}:/storage
    command:
      - '--storageDataPath=/storage'
      - '--retentionPeriod={{ vmstorage_retentionPeriod }}'
    restart: always
